.navbar {
    background-color: #34375D;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1000;
}

.navbar a, .navbar span {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover, .navbar span:hover {
    text-decoration: underline;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu.open {
    display: flex;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        position: fixed;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        width: 100%;
        height: calc(100% - 60px); /* Adjust based on navbar height */
        background-color: rgba(52, 55, 93, 0.95);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
        z-index: 999;
    }

    .menu.open {
        display: flex;
    }
}

@media (min-width: 769px) {
    .menu {
        flex-direction: row;
    }

    .menu-icon {
        display: none;
    }
}
